<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="3.1"
    metadata-complete="false"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/pages/errors/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/pages/errors/405.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/pages/errors/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pages/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/errors/500.jsp</location>
    </error-page>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.htc</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
</web-app>